@tailwind base;
@tailwind components;
@tailwind utilities;

@import "react-awesome-slider/dist/styles.css";

* {
  padding: 0%;
  margin: 0%;
  font-family: "Play", sans-serif;
  /* scroll-behavior: smooth; */
}

html {
  @apply bg-[#000300] text-[#e6e7ec]/90;
  scroll-behavior: smooth !important;
}


.fontFam {
  font-family: "Play", sans-serif;
}

.hoverText {
  @apply relative flex items-center justify-center before:content-[''] before:absolute before:w-full before:h-full before:md:h-[1px] before:rounded-r-full before:md:rounded-full before:bg-[#43fcff]/30 before:md:bg-[#43fcff]/90 hover:text-[#43fcff] hover:duration-700 before:origin-right before:transition-transform before:duration-[0.3s] before:ease-[ease-in-out] before:scale-x-0 before:left-0 before:bottom-0 hover:before:origin-left hover:before:scale-x-100;
}

::-webkit-scrollbar {
  @apply w-[0.5px];
}
::-webkit-scrollbar-track {
  @apply bg-[#000300];
}
::-webkit-scrollbar-thumb {
  @apply rounded-full bg-[#43fcff];
}

.scrollDiv::-webkit-scrollbar {
  display: none;
}

.aws-btn {
  --slider-height-percentage: 50%;
  --slider-transition-duration: 541ms;
  --organic-arrow-thickness: 2px;
  --organic-arrow-border-radius: 0px;
  --organic-arrow-height: 24px;
  --organic-arrow-color: #43fcff;
  --control-button-width: 5%;
  --control-button-height: 25%;
  --control-button-background: transparent;
  --control-bullet-color: #43fcff;
  --control-bullet-active-color: #43fcff;
  --loader-bar-color: #43fcff85;
  --loader-bar-height: 1px;
}

 .shadowEff {
  @apply bg-[#43fcff]/60 flex after:content-[""] after:w-full after:h-full after:absolute after:shadow-[0_10px_15px_-2px_#000,0_5px_7px_-3px_#00fbff81] after:z-[-1] after:left-0 after:top-0;
}

.lyric {
  @apply opacity-0 translate-y-10 text-4xl md:text-7xl font-bold leading-normal text-[#33dbbf] text-center uppercase w-auto h-auto overflow-hidden;
  transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}
.lyric.active {
  @apply opacity-100 translate-y-0;
}
